<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-inst..." xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web..." id="WebApp_ID" version="3.0" >

<servlet>
	<servlet-name>Add_Admin</servlet-name>
	<servlet-class>servlet.Add_Admin</servlet-class>
</servlet>

<servlet-mapping>
		<servlet-name>Add_Admin</servlet-name>
		<url-pattern>/admin/Add_Admin</url-pattern>
</servlet-mapping>



<servlet>
	<servlet-name>Admin_Login</servlet-name>
	<servlet-class>servlet.Admin_Login</servlet-class>
</servlet>

<servlet-mapping>
		<servlet-name>Admin_Login</servlet-name>
		<url-pattern>/admin/Admin_Login</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>Manage_all_admins</servlet-name>
	<servlet-class>servlet.Manage_all_admins</servlet-class>
</servlet>

<servlet-mapping>
		<servlet-name>Manage_all_admins</servlet-name>
		<url-pattern>/admin/Manage_all_admins</url-pattern>
</servlet-mapping>



<servlet>
	<servlet-name>Single_admin_details</servlet-name>
	<servlet-class>servlet.Single_admin_details</servlet-class>
</servlet>

<servlet-mapping>
		<servlet-name>Single_admin_details</servlet-name>
		<url-pattern>/admin/Single_admin_details</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Admin_update</servlet-name>
	<servlet-class>servlet.Admin_update</servlet-class>
</servlet>

<servlet-mapping>
		<servlet-name>Admin_update</servlet-name>
		<url-pattern>/admin/Admin_update</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Admin_delete</servlet-name>
	<servlet-class>servlet.Admin_delete</servlet-class>
</servlet>

<servlet-mapping>
		<servlet-name>Admin_delete</servlet-name>
		<url-pattern>/admin/Admin_delete</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>Admin_logout</servlet-name>
	<servlet-class>servlet.Admin_logout</servlet-class>
</servlet>

<servlet-mapping>
		<servlet-name>Admin_logout</servlet-name>
		<url-pattern>/admin/Admin_logout</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>Admin_Image</servlet-name>
	<servlet-class>servlet.Admin_Image</servlet-class>
</servlet>

<servlet-mapping>
		<servlet-name>Admin_Image</servlet-name>
		<url-pattern>/admin/Admin_Image</url-pattern>
</servlet-mapping>

<!-- payment -->

<!-- Admin -Category  -->
<servlet>
	<servlet-name>Add_Category</servlet-name>
	<servlet-class>servlet.Add_Category</servlet-class>
</servlet>

<servlet-mapping>
		<servlet-name>Add_Category</servlet-name>
		<url-pattern>/admin/category/Add_Category</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>Manage_all_category</servlet-name>
	<servlet-class>servlet.Manage_all_category</servlet-class>
</servlet>

<servlet-mapping>
		<servlet-name>Manage_all_category</servlet-name>
		<url-pattern>/admin/category/Manage_all_category</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>update_Category</servlet-name>
	<servlet-class>servlet.update_Category</servlet-class>
</servlet>

<servlet-mapping>
		<servlet-name>update_Category</servlet-name>
		<url-pattern>/admin/category/update_Category</url-pattern>
</servlet-mapping>
	<servlet>
		<servlet-name>addCard</servlet-name>
		<servlet-class>servlet.addCard</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>addCard</servlet-name>
		<url-pattern>/payment/addCard</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>readCard</servlet-name>
		<servlet-class>servlet.readCard</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>readCard</servlet-name>
		<url-pattern>/payment/readCard</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updateCard</servlet-name>
		<servlet-class>servlet.updateCard</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>updateCard</servlet-name>
		<url-pattern>/payment/updateCard</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>deleteCard</servlet-name>
		<servlet-class>servlet.deleteCard</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>deleteCard</servlet-name>
		<url-pattern>/payment/deleteCard</url-pattern>
	</servlet-mapping>


<servlet>
	<servlet-name>delete_Category</servlet-name>
	<servlet-class>servlet.delete_Category</servlet-class>
</servlet>

<servlet-mapping>
		<servlet-name>delete_Category</servlet-name>
		<url-pattern>/admin/category/delete_Category</url-pattern>
</servlet-mapping>


<!--Product Saween-->

<servlet>
	<servlet-name>SaveProduct</servlet-name>
	<servlet-class>servlet.SaveProduct</servlet-class>
</servlet>

<servlet-mapping>
		<servlet-name>SaveProduct</servlet-name>
		<url-pattern>/Product/SaveProduct</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>ReadAllProduct</servlet-name>
	<servlet-class>servlet.ReadAllProduct</servlet-class>
</servlet>

<servlet-mapping>
		<servlet-name>ReadAllProduct</servlet-name>
		<url-pattern>/Product/ReadAllProduct</url-pattern>
</servlet-mapping>

</web-app>